<%= form_with(model: movie) do |f| %>
  <% if movie.errors.any? %>
    <div class="flash alert">
      <h5><%= pluralize(movie.errors.count, "error") %> prevented this movie from being saved:</h5>
      <ul>
        <% movie.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <%= f.label :title %>
    <%= f.text_field :title, required: true %>
  </div>

  <div class="form-row">
    <%= f.label :rating %>
    <%= f.select :rating, Movie::RATINGS %>
  </div>

  <div class="form-row">
    <%= f.label :release_date %>
    <%= f.date_field :release_date, required: true %>
  </div>

  <div class="form-row">
    <%= f.label :description %>
    <%= f.text_area :description, rows: 5 %>
  </div>

  <div class="form-actions">
    <%= f.submit class: "btn primary" %>
    <%= link_to "Cancel", movies_path, class: "btn muted" %>
  </div>
<% end %>
